
// COLOR DE TITULOS
/*-- scss:defaults --*/
$presentation-heading-color: #f9f9f9 !default;

.slide-number, .reveal.has-logo .slide-number {
  bottom: unset !important;
  right: 10px !important;
  top: 10px !important;
  color: #464646 !important;
}